<!--The whole content below can be removed with the new code.-->
<section class="app flex-container" fxLayout="column" fxLayoutAlign="start stretch">
  <md-toolbar color="primary" class="mat-elevation-z10"> 
  <button md-icon-button (click)="sidenav.open()">
    <md-icon>menu</md-icon>
 </button>  
 Sales Dashboard
  <button md-icon-button routerLink="/Searchform" routerLinkActive="active">
    <md-icon>search</md-icon>
 </button> 
  </md-toolbar>

  <!-- this flex item takes the rest of the screen in height -->
  <md-sidenav-container fxFlex>
    <md-sidenav mode="side" align="left" opened class="mat-elevation-z6" #sidenav>

   <div class="example-button-row">
     <nav md-tab-nav-bar>  

       <md-nav-list>  
        <a md-raised-button  id="stockturnYears" class="menubtn"  routerLink="/KPI" [queryParams]="{linkID: 'stockturnYears'}" queryParamsHandling="merge"  routerLinkActive="active">Key Metrics</a>
       </md-nav-list>

       <md-nav-list> 
        <a md-raised-button id="SCatQty" class="menubtn" [routerLink]="['/Others', {outlets: {'content1': ['PieChart'], 'content2': 'AdvancedPieChart/supercatsalesval'}}]" [queryParams]="{linkID: 'SCatQty'}" queryParamsHandling="merge"  routerLinkActive="active">Varied Analysis</a> 
       </md-nav-list> 
     
       <md-nav-list>  
       <a  md-raised-button id="Sales" class="menubtn" [routerLink]="['/Sales',  {outlets: {'content1': ['NumberCard'],  'content2': ['VerticalBarChart']}}]" [queryParams]="{linkID: 'Sales'}" queryParamsHandling="merge" routerLinkActive="active">Sales</a>
      </md-nav-list>

       <md-nav-list>   
       <a md-raised-button  id="Ecom" class="menubtn" [routerLink]="['/Ecom', {outlets: {'content1': ['HorizontalBarChart'], 'content2': ['VerticalBarChart']}}]"  [queryParams]="{linkID: 'Ecom'}" queryParamsHandling="merge"  routerLinkActive="active">E-Com</a>
      </md-nav-list> 

       <md-nav-list>   
       <a md-raised-button id="Refunds" class="menubtn" [routerLink]="['/Refunds', {outlets: {'content1': ['NumberCard'], 'content2': ['TreeMap']}}]"  [queryParams]="{linkID: 'Refunds'}" queryParamsHandling="merge"  routerLinkActive="active">Refunds</a>
      </md-nav-list>

       <md-nav-list>  
       <a md-raised-button id="EstProfits" class="menubtn" [routerLink]="['/EstimatedProfits', {outlets: {'content1': ['HorizontalBarChart'], 'content2': ['VerticalBarChart']}}]" [queryParams]="{linkID: 'EstProfits'}" queryParamsHandling="merge" routerLinkActive="active">Estimated Profits</a>
      </md-nav-list> 

       <md-nav-list> 
        <a md-raised-button id="RMA" class="menubtn" [routerLink]="['/Stock', {outlets: {'content1': ['NumberCard'],  'content2': ['VerticalBarChart']}}]"  [queryParams]="{linkID: 'RMA'}" queryParamsHandling="merge" routerLinkActive="active">Stock</a>
      </md-nav-list> 

      <md-nav-list>  
          <a md-raised-button id="Memberships" class="menubtn" [routerLink]="['/Memberships', {outlets: {'content1': ['AdvancedPieChart'], 'content2': null}}]"  [queryParams]="{linkID: 'Memberships'}" queryParamsHandling="merge" routerLinkActive="active">Memberships</a>
       </md-nav-list>

       <md-nav-list>   
       <a md-raised-button  id="GiftVch" class="menubtn" [routerLink]="['/GiftVouchers', {outlets: {'content1': ['NumberCard'], 'content2': ['TreeMap']}}]"  [queryParams]="{linkID: 'GiftVch'}" queryParamsHandling="merge"  routerLinkActive="active">Gift Vouchers</a>
       </md-nav-list>  

      <md-nav-list>    
      <a md-raised-button id="Donations"  class="menubtn" [routerLink]="['/Donation', {outlets: {'content1': ['NumberCard'], 'content2': ['TreeMap']}}]"  [queryParams]="{linkID: 'Donations'}" queryParamsHandling="merge"  routerLinkActive="active">Donation</a>
      </md-nav-list> 
     
       </nav> 
       </div>
    
      <section class="tab-actions">
        <button md-fab color="warn"  (click)="sidenav.close()">
          <md-icon>close</md-icon>
      </button>
      </section>
    </md-sidenav>
   
<router-outlet></router-outlet>
  </md-sidenav-container>
</section>






  
 




