 
  <table align="center">   
        <tr>  
          <td> 
           <md-card class="dashboard-card">
             <md-card-content>
             <p class="dashboard-card-title">Memberships</p>  
            <p class="dashboard-card-content">88,46K</p>   
          </md-card-content>          
       </md-card> 
       </td>
       </tr>
  </table>

  
   <table border="1" width="800px" align="center" height="400px">
      <tr>         
          <td border="1" width="800px" align="center">
            {{ title1 }}
             <router-outlet name="content1">                 
             </router-outlet>
           </td>           
      </tr>   
  </table> 
 