  <table align="center">  
        <tr> 
        <td>   
        <md-card class="dashboard-card">
             <md-card-content>
             <p class="dashboard-card-title">Ecom Sales</p>  
            <p class="dashboard-card-content">£9,48,42.3K</p>   
          </md-card-content> 
       </md-card>  
       </td>                 
      </tr>   
  </table> 
   <table border="1" width="800px" align="center" height="600px">
      <tr>         
          <td border="1" width="400px" align="center">
            {{ title1 }}
             <router-outlet name="content1">  
             </router-outlet>
           </td> 
            <td border="1" width="400px" align="center">
                {{ title2 }}
             <router-outlet name="content2">                 
             </router-outlet>
           </td>                 
      </tr>   
  </table> 