   <table align="center">  
        <tr> 
        <td>   
        <md-card class="dashboard-card">
             <md-card-content>
             <p class="dashboard-card-title">Gift Vouchers</p>  
            <p class="dashboard-card-content">£26,65.1K</p>   
          </md-card-content> 
       </md-card>  
       </td>                 
      </tr>   
  </table>  
   
   <table border="1" width="580px" align="center" height="500px">
      <tr>         
          <td border="1" width="290px" align="center">
            {{ title1 }}
             <router-outlet name="content1">                 
             </router-outlet>
           </td> 
            <td border="1" width="290px" align="center">
              {{ title2 }}
             <router-outlet name="content2">                 
             </router-outlet>
           </td>                 
      </tr>   
  </table> 